.setting_sec {
    gap: var(--gap);
}

.column1 {
    min-width: 18rem;
    max-width: 25rem;
    border-right: 3px solid var(--hover-color);
    font-size: var(--font-size);
}

.setting_content_cover{
    background-color: var(--hover-color);
    border-radius: var(--border-radius);
}
