.auth_form {
  gap: var(--gap);
}

.auth_form_button {
  gap: var(--gap);
}

.auth_form_button>button{
  min-width: fit-content;
}

.forgotPasswordReset{
  color: var(--color-brown);
  border: unset;
  background: unset;
  font-size: var(--font-size);
}

.auth_form_button>div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
}
