.input_sec {
    font-size: var(--font-size);
    gap: var(--gap);
    width: 100%;
}

.input_sec_input {
    padding-left: 1rem;
    border: 2px solid var(--hover-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    height: 3.5rem;
    outline: none;
    width: 100%;
}

.input_sec_input:focus {
    border: 2px solid black;
}
.input_sec_input_focus {
    border: 2px solid black;
}

.input_sec textarea:focus {
    border: 2px solid black;
}

.input_sec textarea {
    width: 100%;
    font-size: var(--font-size);
    padding: 1rem;
    resize: none;
    border: 2px solid var(--hover-color);
    border-radius: var(--border-radius);
    outline: none;
}
