.behave_error {
    font-size: var(--font-nav-size) !important;
    z-index: 10;
    padding: .25rem 1rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-more);
}

.error_msg {
    color: var(--color-brown);
    border: 3px solid var(--color-brown);
}

.response_msg {
    color: var(--color-green);
    border: 3px solid var(--color-green);
}
