/* export const InputStyle = {
    "& .MuiOutlinedInput-root": {
      "& fieldset": {
        borderColor: "var(--hover-color)",
        borderWidth: "2px",
        borderRadius: "var(--border-radius)",
        fontSize: "var(--font-size)",
      },
      "&.Mui-focused fieldset": {
        borderColor: "black",
        borderWidth: "2px",
      },
    },
    "& .MuiFormLabel-root": {
      color: "var(--color-gray)",
      fontWeight: "bold",
    },
    "& .Mui-focused.MuiInputLabel-root": {
      color: "var(--color-black)",
      fontWeight: "bold",
    },
  }; */