.list_li_util {
    display: flex;
    align-content: center;
    gap: var(--gap);
}

.list_li_util>header {
    align-self: center;
    color: var(--color-gray);
}

.list_li_content {
    display: flex;
    gap: var(--gap-more);
}

.list_link {
    font-size: var(--font-size);
}

.list_link>a {
    text-decoration: unset;
    color: var(--color-blue);
}

#list_hr {
    margin: 8px 0;
}