.footer_sec {
    padding: 0 var(--padding-page);
    font-size: var(--font-size);
  }

  .footer_links{
    gap: var(--gap);
    font-size: var(--font-size);
  }
  
  .footer_links>li>a{
    text-decoration: none;
    color: var(--color-brown);
  }