.nav_loggedIn_sec {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
}

.nav_loggedIn_sec>li {
    list-style: none;
}

.login_nav_link {
    background-color: var(--hover-faint-color);
    font-weight: bold;
}



.account_icon {
    margin-left: 4px;
    background-color: unset;
    border: unset;
    height: 100%;
    display: flex;
    align-items: center;
}

.account_icon>svg {
    height: 100%;
    width: 1rem;
}