.nav_links>button,
.nav_link {
    font-size: var(--font-nav-size);
    font-weight: 500;
    text-decoration: none;
    color: unset;
    padding: .25rem;
}

.nav_links>a:hover {
    text-decoration: none;
}

.nav_link_active {
    color: var(--color-white) !important;
    background-color: var(--color-dark-blue) !important;
}

