
.links_list_sec {
    height: 94%;
}

.links_ul {
    font-size: var(--font-size);
    padding: 1rem .75rem 0 2rem;
}

.links_ul>li {
    list-style:disc;
}

.links_ul>li:hover {
    color: var(--color-red);
}

.links_ul_a {
    color: var(--color-blue);
}

.read_more {
    text-decoration: unset;
    color: var(--color-brown);
}

.read_more:hover {
    text-decoration: underline;
}